@using System.Web.Mvc.Html;
@using System.Linq;
@model WorldNomads.Web.Models.SequencesModel

<h2>Enter a number</h2>
<h6>( Must be a positve whole number )</h6>

@using (var form = Html.BeginForm())
{
    <input type="number" id="number" name="number" required/>
    <button type="submit">Enumerate</button>
}

@if (this.Model != null)
{
    <h3>Results</h3>
    @Html.ValidationSummary()
    if (Model.Sequences != null)
    {
        foreach (var seq in Model.Sequences)
        {
            var output = string.Join(", ", seq.Results.ToArray());
            <h6>@seq.DisplayName</h6>
            <span>@output</span>
            <hr />
        }
    }
}


